@use "sass:math";
@import 'antd/dist/antd.css';
.App {
  width: 100%;
  background-color: #defdfd;
  min-height: 100vh;
}

.item-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding-bottom: 5em;
  place-items: center;
}
.product-image {
  height: 200px;
  object-fit: scale-down;
}
.item-details {
  width: 100%;
  height: calc(100vh - 100px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 72px;

  .product-display-img {
    height: calc(100vh - 200px);
    width: auto;
    img {
      object-fit: contain;
    }
  }
}
.product-quantity-counter {
  display: flex;
  width: 150px;
  input {
    text-align: center;
    font-size: 25px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .btn {
    font-size: 25px;
    /* padding: 0; */
    height: 100%;
  }
}
.product-add-to-cart {
  padding: 22px 13px;
  display: flex;
  font-size: 20px;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
}

.cart-card {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2fr;
  padding: 0.5rem 1rem;
  margin-bottom: 1.5rem;
  box-shadow: 1px 1px 5px -1px #817979;

  .card-cart-info {
    width: 100%;
    .cart-title {
      text-overflow: ellipsis;
    }
  }
  .cart-image {
    height: 100px;
    object-fit: scale-down;
  }
}
.cart-quantity-counter {
  display: flex;
  width: 150px;
  input {
    text-align: center;
    font-size: 15px;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
  .btn {
    font-size: 15px;
    /* padding: 0; */
    height: 100%;
  }
}
.cart-actions {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-right: 1.5rem;
  .delete-item {
    font-size: 25px;
    color: red;
    transition: 0.6s;
    &:hover {
      transform: scale(1.2);
    }
  }
}

// wishlist
.wishlist-button {
  font-size: 25px;
  color: red;
  &:hover {
    transform: scale(1.2);
    color: red;
  }
}
.heart-pop {
  position: absolute;
  background: url(https://cssanimation.rocks/images/posts/steps/heart.png)
    no-repeat;
  background-position: 0 0;
  cursor: pointer;
  width: 100px;
  height: 100px;
  // animation: heartPop 1s steps(28);
  z-index: 2;
}
.popped {
  background-position: -2800px 0;
  transition: background 1s steps(28);
}
.wishlist-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  .wishlist-card {
    display: grid;
    width: 50vw;
    grid-template-columns: 1fr 2fr;
    padding: 0.5rem 1rem;
    margin-bottom: 1.5rem;
    box-shadow: 1px 1px 5px -1px #817979;
    background-color: rgb(154, 204, 250);

    .card-wishlist-info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      .wishlist-title {
        text-overflow: ellipsis;
        font-size: 25px;
      }
      .wishlist-actions {
        .delete-item {
          font-size: 1.6rem;
          transition: 1s;
          &:hover {
            color: red;
            transform: scale(1.2);
          }
        }
      }
    }
    .wishlist-image {
      height: 200px;
      width: 200px;
      object-fit: cover;
    }
  }
}
